body {
    background-color: rgba(255, 160, 122, 0.652);
    font-family: Arial, Helvetica, sans-serif;
}

body h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
}

section {
    background-color: white;
    width: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px solid black;
    margin: auto;
    padding: 10px;
}


footer {
    text-align: center;
    font-style: italic;
}